repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key
      - id: requirements-txt-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/pycqa/flake8
    rev: 3.7.0
    hooks:
      - id: flake8
        args: [--select=E9,F63,F4,F7,F82,F84, --max-line-length=99, --statistics]

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3.9
        args: [--diff, --line-length=99]
